networkx
numpy
langchain-core
langchain-community
sentence-transformers
rank-bm25
pathlib
pydantic
pydantic-settings
python-dotenv
chromadb
langchain-openai
tiktoken
streamlit
requests
loguru
fastapi
tqdm
opencv-python
pillow
langchain
chardet
sse-starlette